<h3 style="text-decoration:underline"><center>Brief Project : Gestion de collections d'automobiles dans MongoDB</h3>

<h4 style="text-decoration:underline">0. Création de la base de données et des collections</h4>

La première étape concerne l'importation des données depuis le fichiers.xlsx vers la base de données nommée Car_collection qui regroupe 2 collections: 
- La première collection nommée "Voiture" 
- La deuxième collection nommée "Collectionneur"

Après avoir cliqué sur CREATE DATABASE une fenêtre apparait demandant de spécifier le nom de la base de donnée (dans notre cas ce sera: Car_collection) et le nom d'une première collection (dans notre cas ce sera Voiture).

<img src = "image0.png">

Une fois la collection voiture créée il faut insérer les documents dans la collection de sortes à avoir des données. Pour cela depuis Mongodb Compass, on clique sur "ADD DATA" et on choisit le fichier au format CSV ou JSON contenant les données. 
Dans notre cas, le fichier initial .xlsx contenait les données des deux collections Voiture et Collectionneur de la base de donnée Car_collections. On créer donc deux fichiers .csv contenant les valeurs spécifiques de la collection Voiture et de la collection Collectionneur et on les importe dans la bonne collection sous Mongodb Compass.

<img src = "image1.png">

Une fois les données insérées pour la collection voiture on obtient le résultat présent dans l'image ci-dessous et on répète l'opération pour la collection Collectionneur.

<img src = "image2.png">

Pour la conversion des fichiers csv en fichier .json on peut utiliser pandas et la fonction .to_json qui permet une conversion en json. 
En peut spécifier plusieurs paramètres en arguments: 
   - force_ascii : False, permet de garder les accents 
   - orient : permet de spécifier quel type de conversion on veut faire depuis le csv
   - index: permet de savoir si on veut un champ stockant l'index

Pour la collection voiture on a donc :

In [82]:
data_voiture = pd.read_csv("collection_voiture.csv")

json_voiture = data_voiture.to_json( orient = "records", force_ascii=False)
json_voiture

'[{"Marque":"Ferrari","Modèle":"F40 ","Dénomination":"Testarossa","Cylindrée":2936,"Couleur":"Rouge","Propriétaire":"Valerio"},{"Marque":"Lamborghini","Modèle":"Countach","Dénomination":null,"Cylindrée":5167,"Couleur":"Jaune","Propriétaire":"Rafik"},{"Marque":"De Tomaso","Modèle":"Pantera","Dénomination":null,"Cylindrée":5800,"Couleur":"Noir","Propriétaire":"Rafik"},{"Marque":"Pontiac","Modèle":"Firebird","Dénomination":"KITT","Cylindrée":5700,"Couleur":"Noir","Propriétaire":"Valerio"},{"Marque":"Volkswagen","Modèle":"Coccinelle","Dénomination":"Choupette","Cylindrée":1584,"Couleur":"Blanc","Propriétaire":"Laurent"},{"Marque":"Ford","Modèle":"Mustang","Dénomination":"Eleanor","Cylindrée":7000,"Couleur":"Gris","Propriétaire":"Rafik"},{"Marque":"Chevrolet","Modèle":"Corvette","Dénomination":"Lola","Cylindrée":5400,"Couleur":"Rouge","Propriétaire":"Valerio"},{"Marque":"Cadillac","Modèle":"Eldorado","Dénomination":"Ectomobile-1","Cylindrée":6400,"Couleur":"Blanc","Propriétaire":"Laurent"},{"Marque":"Dodge","Modèle":"Charger","Dénomination":"General Lee","Cylindrée":7206,"Couleur":"Orange","Propriétaire":"Rafik"}]'

Les fichiers utilisés pour peupler la collection voiture et la collection collectionneur sont: 
   - Brief_project10_voiture.json
   - Brief_project10_collection.json

<h4 style="text-decoration:underline">1. Collection Voiture</h3>

In [2]:
# On importe la librairie Pymongo pour pouvoir travailler sur Mongodb avec Python 
import pymongo
from pymongo import MongoClient
import pandas as pd 
from pandas import DataFrame

In [3]:
# Pour la connexion au cluster
cluster = MongoClient("mongodb+srv://Mohammad:simplonriaz@clusterdevai.gggkh.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")

In [4]:
# Pour l'accès à la base de données 
db = cluster["Car_collection"]

# Pour l'accès à la collection Voiture 
collection_voiture = db["Voiture"]

In [47]:
# La commande find({}) avec aucun argument dans les accolades, 
# signifie que l'on veut rechercher tous les documents de la collection. 

results_voiture = collection_voiture.find({})

# Pour des raisons de lisibilité, il est préférable de stocker le résultat de la recherche dans un DataFrame 
df_results_voiture = DataFrame(results_voiture)

# On affiche le dataframe correspondant à la recherche.
df_results_voiture

,_id,Marque,Modèle,Dénomination,Cylindrée,Couleur,Propriétaire
0,60a10ba36d26045db0b8e182,Ferrari,F40,Testarossa,2936,Rouge,Valerio
1,60a10ba36d26045db0b8e183,Lamborghini,Countach,NaN,5167,Jaune,Rafik
2,60a10ba36d26045db0b8e184,De Tomaso,Pantera,NaN,5800,Noir,Rafik
3,60a10ba36d26045db0b8e185,Pontiac,Firebird,KITT,5700,Noir,Valerio
4,60a10ba36d26045db0b8e186,Volkswagen,Coccinelle,Choupette,1584,Blanc,Laurent
5,60a10ba36d26045db0b8e187,Ford,Mustang,Eleanor,7000,Gris,Rafik
6,60a10ba36d26045db0b8e188,Chevrolet,Corvette,Lola,5400,Rouge,Valerio
7,60a10ba36d26045db0b8e189,Cadillac,Eldorado,Ectomobile-1,6400,Blanc,Laurent
8,60a10ba36d26045db0b8e18a,Dodge,Charger,General Lee,7206,Orange,Rafik

In [49]:
# On sélectionne tous les documents avec Valerio ou Rafik en propriétaire
results_prop_voiture = collection_voiture.find({"$or":[{"Propriétaire":"Rafik"}, {"Propriétaire": "Valerio" }]})

# On assigne le résultats de la recherche à un DataFrame
df_results_prop_voiture = DataFrame(results_prop_voiture)

# On observe bien que les documents avec Laurent en Propriétaire ne sont plus présents
df_results_prop_voiture

,_id,Marque,Modèle,Dénomination,Cylindrée,Couleur,Propriétaire
0,60a10ba36d26045db0b8e182,Ferrari,F40,Testarossa,2936,Rouge,Valerio
1,60a10ba36d26045db0b8e183,Lamborghini,Countach,NaN,5167,Jaune,Rafik
2,60a10ba36d26045db0b8e184,De Tomaso,Pantera,NaN,5800,Noir,Rafik
3,60a10ba36d26045db0b8e185,Pontiac,Firebird,KITT,5700,Noir,Valerio
4,60a10ba36d26045db0b8e187,Ford,Mustang,Eleanor,7000,Gris,Rafik
5,60a10ba36d26045db0b8e188,Chevrolet,Corvette,Lola,5400,Rouge,Valerio
6,60a10ba36d26045db0b8e18a,Dodge,Charger,General Lee,7206,Orange,Rafik

In [51]:
# Pour tous les documents ayant pour proriétaire Valerio, 
# On met à jour la collection afin de créer un nouveau champ "Propriétaire précédent"
# On attribue à ce nouveau champ la valeur Valerio
newfield = collection_voiture.update_many({"Propriétaire": {"$eq": "Valerio"}},{"$set":{"Proprietaire Precedent": "Valerio"}})                              

# On recherche l'intégralité de la collection 
results_newfield = collection_voiture.find({})

# On assigne le résultat de la recherche à un Dataframe
df_results_newfield = DataFrame(results_newfield)


df_results_newfield

,_id,Marque,Modèle,Dénomination,Cylindrée,Couleur,Propriétaire,Proprietaire Precedent
0,60a10ba36d26045db0b8e182,Ferrari,F40,Testarossa,2936,Rouge,Valerio,Valerio
1,60a10ba36d26045db0b8e183,Lamborghini,Countach,NaN,5167,Jaune,Rafik,NaN
2,60a10ba36d26045db0b8e184,De Tomaso,Pantera,NaN,5800,Noir,Rafik,NaN
3,60a10ba36d26045db0b8e185,Pontiac,Firebird,KITT,5700,Noir,Valerio,Valerio
4,60a10ba36d26045db0b8e186,Volkswagen,Coccinelle,Choupette,1584,Blanc,Laurent,NaN
5,60a10ba36d26045db0b8e187,Ford,Mustang,Eleanor,7000,Gris,Rafik,NaN
6,60a10ba36d26045db0b8e188,Chevrolet,Corvette,Lola,5400,Rouge,Valerio,Valerio
7,60a10ba36d26045db0b8e189,Cadillac,Eldorado,Ectomobile-1,6400,Blanc,Laurent,NaN
8,60a10ba36d26045db0b8e18a,Dodge,Charger,General Lee,7206,Orange,Rafik,NaN

In [52]:
# On met à jour le champ propriétaire avec le prénom Mohammad
proprietaire_update = collection_voiture.update_many({"Propriétaire": {"$eq": "Valerio"}},{"$set":{"Propriétaire": "Mohammad"}})                              

# On recherche l'intégralité de la collection 
results_prop_update = collection_voiture.find({})

# On assigne le résultat de la recherche à un DataFrame
df_results_prop_update = DataFrame(results_prop_update)

df_results_prop_update

,_id,Marque,Modèle,Dénomination,Cylindrée,Couleur,Propriétaire,Proprietaire Precedent
0,60a10ba36d26045db0b8e182,Ferrari,F40,Testarossa,2936,Rouge,Mohammad,Valerio
1,60a10ba36d26045db0b8e183,Lamborghini,Countach,NaN,5167,Jaune,Rafik,NaN
2,60a10ba36d26045db0b8e184,De Tomaso,Pantera,NaN,5800,Noir,Rafik,NaN
3,60a10ba36d26045db0b8e185,Pontiac,Firebird,KITT,5700,Noir,Mohammad,Valerio
4,60a10ba36d26045db0b8e186,Volkswagen,Coccinelle,Choupette,1584,Blanc,Laurent,NaN
5,60a10ba36d26045db0b8e187,Ford,Mustang,Eleanor,7000,Gris,Rafik,NaN
6,60a10ba36d26045db0b8e188,Chevrolet,Corvette,Lola,5400,Rouge,Mohammad,Valerio
7,60a10ba36d26045db0b8e189,Cadillac,Eldorado,Ectomobile-1,6400,Blanc,Laurent,NaN
8,60a10ba36d26045db0b8e18a,Dodge,Charger,General Lee,7206,Orange,Rafik,NaN

In [53]:
# On supprime tous les documents ayant pour "Couleur" la valeur "Blanc"
del_white_car = collection_voiture.delete_many({"Couleur":{"$eq":"Blanc"}})

# On recherche l'intégralité de la collection 
results_no_white_car = collection_voiture.find({})

# On assigne le résultat de la recherche à un DataFrame
df_results_no_white_car = DataFrame(results_no_white_car)

# On observe bien que les documents avec "Blanc" en Couleur ne sont plus présents
df_results_no_white_car

,_id,Marque,Modèle,Dénomination,Cylindrée,Couleur,Propriétaire,Proprietaire Precedent
0,60a10ba36d26045db0b8e182,Ferrari,F40,Testarossa,2936,Rouge,Mohammad,Valerio
1,60a10ba36d26045db0b8e183,Lamborghini,Countach,NaN,5167,Jaune,Rafik,NaN
2,60a10ba36d26045db0b8e184,De Tomaso,Pantera,NaN,5800,Noir,Rafik,NaN
3,60a10ba36d26045db0b8e185,Pontiac,Firebird,KITT,5700,Noir,Mohammad,Valerio
4,60a10ba36d26045db0b8e187,Ford,Mustang,Eleanor,7000,Gris,Rafik,NaN
5,60a10ba36d26045db0b8e188,Chevrolet,Corvette,Lola,5400,Rouge,Mohammad,Valerio
6,60a10ba36d26045db0b8e18a,Dodge,Charger,General Lee,7206,Orange,Rafik,NaN

<h4 style="text-decoration:underline">2. Collection Collectionneur</h3>

In [41]:
# Pour l'accès à la base de données 
db = cluster["Car_collection"]

# Pour l'accès à la collection Collectionneur
collection_collectionneur = db["Collectionneur"]

In [47]:
# La commande find({}) avec aucun argument dans les accolades, 
# signifie que l'on veut rechercher tous les documents de la collection. 

results_collectionneur = collection_collectionneur.find({})

# Pour des raisons de lisibilité, il est préférable de stocker le résultat de la recherche dans un DataFrame 
df_results_collectionneur = DataFrame(results_collectionneur)

# On spécifie des paramètres d'affichage de jupyter de sortes à pouvoir voir tout le contenu du champ voiture
pd.set_option('display.max_colwidth', None)

# On affiche le dataframe correspondant à la recherche.
df_results_collectionneur

,_id,proprietaire,voiture
0,60a139f66d26045db0b8e19d,Valerio,"[{'marque': 'Ferrari', 'modele': 'F40', 'denomination': 'Testarossa', 'cylindree': 2936, 'couleur': 'Rouge'}, {'marque': 'Pontiac', 'modele': 'Firebird', 'denomination': 'KITT', 'cylindree': 5700, 'couleur': 'Noir'}, {'marque': 'Chevrolet', 'modele': 'Corvette', 'denomination': 'Lola', 'cylindree': 5400, 'couleur': 'Rouge'}]"
1,60a139f66d26045db0b8e19e,Rafik,"[{'marque': 'Lamborghini', 'modele': 'Countach', 'denomination': '', 'cylindree': 5167, 'couleur': 'Jaune'}, {'marque': 'De Tomaso', 'modele': 'Pantera', 'denomination': '', 'cylindree': 5800, 'couleur': 'Noir'}, {'marque': 'Ford', 'modele': 'Mustang', 'denomination': 'Eleanor', 'cylindree': 7000, 'couleur': 'Gris'}]"
2,60a139f66d26045db0b8e19f,Laurent,"[{'marque': 'Volkswagen', 'modele': 'Coccinelle', 'denomination': 'Choupette', 'cylindree': 1584, 'couleur': 'Blanc'}, {'marque': 'Cadillac', 'modele': 'Eldorado', 'denomination': 'Ectomobile-1', 'cylindree': 6400, 'couleur': 'Blanc'}]"

In [46]:
# On sélectionne tous les documents avec Valerio ou Rafik en propriétaire
results_prop_collectionneur = collection_collectionneur.find({"$or":[{"proprietaire":"Rafik"}, {"proprietaire": "Valerio" }]})

# On assigne le résultats de la recherche à un DataFrame
df_results_prop_collectionneur = DataFrame(results_prop_collectionneur)

# On observe bien que les documents avec Laurent en Propriétaire ne sont plus présents
pd.set_option('display.max_colwidth', None)
df_results_prop_collectionneur

,_id,proprietaire,voiture
0,60a139f66d26045db0b8e19d,Valerio,"[{'marque': 'Ferrari', 'modele': 'F40', 'denomination': 'Testarossa', 'cylindree': 2936, 'couleur': 'Rouge'}, {'marque': 'Pontiac', 'modele': 'Firebird', 'denomination': 'KITT', 'cylindree': 5700, 'couleur': 'Noir'}, {'marque': 'Chevrolet', 'modele': 'Corvette', 'denomination': 'Lola', 'cylindree': 5400, 'couleur': 'Rouge'}]"
1,60a139f66d26045db0b8e19e,Rafik,"[{'marque': 'Lamborghini', 'modele': 'Countach', 'denomination': '', 'cylindree': 5167, 'couleur': 'Jaune'}, {'marque': 'De Tomaso', 'modele': 'Pantera', 'denomination': '', 'cylindree': 5800, 'couleur': 'Noir'}, {'marque': 'Ford', 'modele': 'Mustang', 'denomination': 'Eleanor', 'cylindree': 7000, 'couleur': 'Gris'}]"

In [53]:
# Pour tous les documents ayant pour proriétaire Valerio, 
# On met à jour la collection afin de créer un nouveau champ "Propriétaire précédent"
# On attribue à ce nouveau champ la valeur Valerio et on met à jour le proprietaire avec mon prénom 
newfield_coll = collection_collectionneur.update_many({"proprietaire":"Valerio"},{"$set":{"voiture.$[].proprietaire_precedent":"Valerio","proprietaire":"Mohammad"}})                              

# On recherche l'intégralité de la collection 
results_newfield_coll = collection_collectionneur.find({})

# On assigne le résultat de la recherche à un Dataframe
df_results_newfield_coll = DataFrame(results_newfield_coll)

pd.set_option('display.max_colwidth', None)
df_results_newfield_coll

,_id,proprietaire,voiture,proprietaire precedent
0,60a139f66d26045db0b8e19d,Mohammad,"[{'marque': 'Ferrari', 'modele': 'F40', 'denomination': 'Testarossa', 'cylindree': 2936, 'couleur': 'Rouge'}, {'marque': 'Pontiac', 'modele': 'Firebird', 'denomination': 'KITT', 'cylindree': 5700, 'couleur': 'Noir'}, {'marque': 'Chevrolet', 'modele': 'Corvette', 'denomination': 'Lola', 'cylindree': 5400, 'couleur': 'Rouge'}]",Valerio
1,60a139f66d26045db0b8e19e,Rafik,"[{'marque': 'Lamborghini', 'modele': 'Countach', 'denomination': '', 'cylindree': 5167, 'couleur': 'Jaune'}, {'marque': 'De Tomaso', 'modele': 'Pantera', 'denomination': '', 'cylindree': 5800, 'couleur': 'Noir'}, {'marque': 'Ford', 'modele': 'Mustang', 'denomination': 'Eleanor', 'cylindree': 7000, 'couleur': 'Gris'}]",NaN
2,60a139f66d26045db0b8e19f,Laurent,"[{'marque': 'Volkswagen', 'modele': 'Coccinelle', 'denomination': 'Choupette', 'cylindree': 1584, 'couleur': 'Blanc'}, {'marque': 'Cadillac', 'modele': 'Eldorado', 'denomination': 'Ectomobile-1', 'cylindree': 6400, 'couleur': 'Blanc'}]",NaN

In [56]:
# On supprime tous les documents ayant pour "Couleur" la valeur "Blanc"
# On utilise cette fois update_many() avec $pull plutôt que delete_many car
# Les documents sont enregistrés comme une liste de documents 
del_white_car_coll = collection_collectionneur.update_many({},{"$pull":{"voiture":{"couleur":"Blanc"}}})

# On recherche l'intégralité de la collection 
results_no_white_car_coll = collection_collectionneur.find({})

# On assigne le résultat de la recherche à un DataFrame
df_results_no_white_car_coll = DataFrame(results_no_white_car_coll)

# On observe bien que les documents avec "Blanc" en Couleur ne sont plus présents
df_results_no_white_car_coll

,_id,proprietaire,voiture,proprietaire precedent
0,60a139f66d26045db0b8e19d,Mohammad,"[{'marque': 'Ferrari', 'modele': 'F40', 'denomination': 'Testarossa', 'cylindree': 2936, 'couleur': 'Rouge'}, {'marque': 'Pontiac', 'modele': 'Firebird', 'denomination': 'KITT', 'cylindree': 5700, 'couleur': 'Noir'}, {'marque': 'Chevrolet', 'modele': 'Corvette', 'denomination': 'Lola', 'cylindree': 5400, 'couleur': 'Rouge'}]",Valerio
1,60a139f66d26045db0b8e19e,Rafik,"[{'marque': 'Lamborghini', 'modele': 'Countach', 'denomination': '', 'cylindree': 5167, 'couleur': 'Jaune'}, {'marque': 'De Tomaso', 'modele': 'Pantera', 'denomination': '', 'cylindree': 5800, 'couleur': 'Noir'}, {'marque': 'Ford', 'modele': 'Mustang', 'denomination': 'Eleanor', 'cylindree': 7000, 'couleur': 'Gris'}]",NaN
2,60a139f66d26045db0b8e19f,Laurent,[],NaN

In [73]:
# On sélectionne tous les documents ayant comme Couleur la valeur Noir
black_car_coll = collection_collectionneur.find({"voiture.couleur":"Noir"})

results_black_car_coll = DataFrame(black_car_coll)

# On remarque que si au moins un documents de la liste de document voiture contient Noir, 
# alors tous les documents sont ressortis car ils sont dans une liste de documents
results_black_car_coll

,_id,proprietaire,voiture,proprietaire precedent
0,60a139f66d26045db0b8e19d,Mohammad,"[{'marque': 'Ferrari', 'modele': 'F40', 'denomination': 'Testarossa', 'cylindree': 2936, 'couleur': 'Rouge'}, {'marque': 'Pontiac', 'modele': 'Firebird', 'denomination': 'KITT', 'cylindree': 5700, 'couleur': 'Noir'}, {'marque': 'Chevrolet', 'modele': 'Corvette', 'denomination': 'Lola', 'cylindree': 5400, 'couleur': 'Rouge'}]",Valerio
1,60a139f66d26045db0b8e19e,Rafik,"[{'marque': 'Lamborghini', 'modele': 'Countach', 'denomination': '', 'cylindree': 5167, 'couleur': 'Jaune'}, {'marque': 'De Tomaso', 'modele': 'Pantera', 'denomination': '', 'cylindree': 5800, 'couleur': 'Noir'}, {'marque': 'Ford', 'modele': 'Mustang', 'denomination': 'Eleanor', 'cylindree': 7000, 'couleur': 'Gris'}]",NaN

In [72]:
# L'utilisation d'un $elemMatch renvoie le même résultat que précédemment 
black_car_coll2 = collection_collectionneur.find({"voiture":{"$elemMatch":{"couleur":"Noir"}}})

results_black_car_coll2 = DataFrame(black_car_coll2)

results_black_car_coll2

,_id,proprietaire,voiture,proprietaire precedent
0,60a139f66d26045db0b8e19d,Mohammad,"[{'marque': 'Ferrari', 'modele': 'F40', 'denomination': 'Testarossa', 'cylindree': 2936, 'couleur': 'Rouge'}, {'marque': 'Pontiac', 'modele': 'Firebird', 'denomination': 'KITT', 'cylindree': 5700, 'couleur': 'Noir'}, {'marque': 'Chevrolet', 'modele': 'Corvette', 'denomination': 'Lola', 'cylindree': 5400, 'couleur': 'Rouge'}]",Valerio
1,60a139f66d26045db0b8e19e,Rafik,"[{'marque': 'Lamborghini', 'modele': 'Countach', 'denomination': '', 'cylindree': 5167, 'couleur': 'Jaune'}, {'marque': 'De Tomaso', 'modele': 'Pantera', 'denomination': '', 'cylindree': 5800, 'couleur': 'Noir'}, {'marque': 'Ford', 'modele': 'Mustang', 'denomination': 'Eleanor', 'cylindree': 7000, 'couleur': 'Gris'}]",NaN

In [74]:
# Cependant, si on utilise la méthode $project depuis Mongodb Compass ou qu'on spécifie l'argument {"voiture.$":1}
# alors le résultat de la recherche est filtré et seul les documents correspondant aux voitures noires
# sont retournés. 
black_car_coll3 = collection_collectionneur.find({"voiture.couleur":"Noir"},{"voiture.$":1})

results_black_car_coll3 = DataFrame(black_car_coll3)

results_black_car_coll3

,_id,voiture
0,60a139f66d26045db0b8e19d,"[{'marque': 'Pontiac', 'modele': 'Firebird', 'denomination': 'KITT', 'cylindree': 5700, 'couleur': 'Noir'}]"
1,60a139f66d26045db0b8e19e,"[{'marque': 'De Tomaso', 'modele': 'Pantera', 'denomination': '', 'cylindree': 5800, 'couleur': 'Noir'}]"

#### Conclusion:

 Il est donc préférable de stocker ces données dans une base de données sous forme équivalente à la collection Voiture car chaque document est référencé de manière unique et on peut y accéder facilement avec un critère de recherche. À l'opposé, inclure les documents dans une liste ne permet pas d'accéder spécifiquement à un document de la liste sauf si l'on utilise la méthode de projection qui permet de réaliser d'autres opérations sur le résultat de la recherche par la suite.